<!DOCTYPE html>
{% include 'partials/_library_getbootstrap.html' %}
<html lang="tr">
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">SEF</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">AnaSayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'admin:index' %}">Yonetim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'upload_file' %}">Formul Yukle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'uretim_sayi_yukleme' %}">Uretim Sayi Girisi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'resept_maliyet_list' %}">Resept Maliyet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'personel_mesaiPlanYukle_url' %}">Mesai Plan</a>
          </li>
          <li class="nav-item">
            <!-- eski istatistik girisi "uretim_istatistik_girisi" -->
            <a class="nav-link active" aria-current="page" href="{% url 'gunluk_uretim' %}">Uretim Istatistik</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'tarih_list' %}">Formul</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'rapor' %}">Istatistik</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

</body>
</html>