<div class="accordion-item">
    <h2 class="accordion-header" id="headingFinansGUNtpl">
        <button class="accordion-button collapsed bg-success text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFinansGUNtpl" aria-expanded="false" aria-controls="collapseFinansGUNtpl">
            Gunluk Durum Raporu - {{ gunluk_gider.tarih }} -
            {% if net_gunluk_gelir %}
                Net Gelir: {{ net_gunluk_gelir|floatformat:2 }} Eur
            {% else %}
                ----
            {% endif %}
        </button>
    </h2>
    <div id="collapseFinansGUNtpl" class="accordion-collapse collapse" aria-labelledby="headingFinansGUNtpl" data-bs-parent="#finansAccordion">
        <div class="accordion-body">
            <div class="accordion" id="FinansGUNtpl">
                {% include 'rapor/gunluk_gider.html' %}
                {% include 'rapor/gunluk_gelir.html' %}
            </div>
        </div>
    </div>
</div>