{% load static %}
<div class="accordion-item">
    <h2 class="accordion-header" id="headingWeeklyPlanning">
        <button class="accordion-button collapsed bg-warning text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWeeklyPlanning" aria-expanded="false" aria-controls="collapseWeeklyPlanning">
            Haftalık Personel Programi
        </button>
    </h2>
    <div id="collapseWeeklyPlanning" class="accordion-collapse collapse" aria-labelledby="headingWeeklyPlanning" data-bs-parent="#Uretim_accordion">
        <div class="accordion-body">
            <img src="{% static 'images/32personel_planlama.png' %}" alt="Personel Planlama" class="img-fluid">
        </div>
    </div>
</div>
