{% load static %}
<div class="accordion-item">
    <h2 class="accordion-header" id="headingUrWeeklyPlanning">
        <button class="accordion-button collapsed bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUrWeeklyPlanning" aria-expanded="false" aria-controls="collapseUrWeeklyPlanning">
            Haftalık Uretim Programi
        </button>
    </h2>
    <div id="collapseUrWeeklyPlanning" class="accordion-collapse collapse" aria-labelledby="headingUrWeeklyPlanning" data-bs-parent="#Uretim_accordion">
        <div class="accordion-body">
            <img src="{% static 'images/32 Uretim Plani.jpeg' %}" alt="Uretim Plani" class="img-fluid">
        </div>
    </div>
</div>
